<dom-module id="flcc-submission">

  <template>
    <paper-material elevation="1" class="submission container">
      <h2 class="name">[[fullName]]</h2>
      <h3 class="email"><a href="[[emailLink]]">[[email]]</a></h2>
      <div class="questions">
      	<p class="question one">What's the coolest problem you've solved that's applicable to the role you'd like to have with FoodLogiQ? Why should we think it's cool, too?</p>
      	<p class="answer one">[[answerOne]]</p>
      	<p class="question two">Describe the environment that would exist at your dream job. The culture, people, office, tools, etc. - whatever details you think would make it awesome. Don't worry about trying to describe us so we think you think we're your dream employer: we're more interested in you, not us.</p>
      	<p class="answer two">[[answerTwo]]</p>
      	<p class="question three">What design and development assumptions and decisions went into your solution from the first question?</p>
      	<p class="answer three">[[answerThree]]</p>
      </div>
    </paper-material>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'flcc-submission',
        properties: {
        	firstName: String,
        	lastName: String,
        	email: String,
        	answerOne: String,
        	answerTwo: String,
        	answerThree: String,
        	fullName: {
        		type: String,
        		computed: 'getFullName(firstName, lastName)'
        	},
        	emailLink: {
        		type: String,
        		computed: 'getEmailLink(email)'
        	}
        },
        getFullName: function(firstName, lastName) {
        	return firstName + ' ' + lastName;
        },
        getEmailLink: function(email) {
        	return 'mailto: ' + email;
        }
      })
    })();
  </script>
  
</polymer-element>