<dom-module id="flcc-header">

  <template>
    <!-- Progress bar -->
    <paper-progress value="100" indeterminate></paper-progress>
    <!-- Toast -->
    <paper-toast></paper-toast>
    <!-- Headline -->
		<paper-toolbar class="headline">
		  <img src="../../images/logo.png" alt="FoodLogiQ" width="240" height="63">
		</paper-toolbar>
		<!-- tabs -->
		<paper-tabs selected="[[tabSelected]]" noink="true">
		  <paper-tab link>
		    <a href="/" class="horizontal center-center layout">Submit Application</a>
		  </paper-tab>
		  <paper-tab link>
		    <a href="/submissions.html" class="horizontal center-center layout">View Submissions</a>
		  </paper-tab>
		</paper-tabs>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'flcc-header',
        properties: {
        	tabSelected: Number
        }
      })
    })();
  </script>
  
</polymer-element>