@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body { background: url("../images/background.png"); cursor: default; font-family: 'Roboto', sans-serif; margin: 0; padding: 0; }

body > .content { display: block; margin: 30px auto; }
body > .content .container { background: #fff; padding: 20px; }

paper-button { color: #e64a19; text-align: right; }

paper-progress { display: none; position: fixed; top: 0; width: 100%; z-index: 99; }
paper-progress.paper-progress-0 #activeProgress.paper-progress { background-color: #e64a19; }

paper-toolbar.headline { background: url("../images/pattern.png"); height: 120px; }
paper-toolbar.headline img { position: relative; top: 30px; }

paper-tabs paper-tab a { background: #fff; color: #333; text-decoration: none; }
paper-tabs.paper-tabs-0 #selectionBar.paper-tabs { background: #e64a19; }

@media screen and (min-width: 992px) {
	body > .content { width: 60%; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	body > .content { width: 80%; }
}

@media screen and (max-width: 767px) {
	body { padding: 0; }
	body > .content { width: 100%; }
	body > .content .container { padding: 5px; }
}